@import '../../styles/base.scss';

.mainLogo {
  max-width: 1000px;
  height: auto;
}

.logo {
  max-width: 50%;
}

.workWithUsImage {
  max-width: 600px;
}

.openRoleContainer {
  display: flex;
  margin-bottom: 48px;
}

.openRoleArrow {
  transform: rotate(-90deg);
  height: 32px;
  margin-right: 80px;
}

.openRoleContentContainer {
  max-width: 1092px;
  width: 100%;
}

.openRoleContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.pixelatedLogo {
  opacity: 0;
}

.mainLogo:hover img.pixelatedLogo {
  opacity: 1;
  cursor: pointer;
}

.mainLogo:hover img.regularLogo {
  display: none;
  opacity: 0;
}

.homepageContent {
  background-color: $primary-grey;
}


@media only screen and (max-width: 1200px) {
  .introLargeText {
    order: -1;
  }

  .homepageLargeText {
    font-size: 36px;
  }

  .homepageSmallText {
    font-size: 20px;
  }

  .logo {
    max-width: 50%;
  }

  .workWithUsImage {
    max-width: 100%;
  }

  .firstHomepageSection {
    padding-top: 0px;
  }

  .openRoleArrow {
    display: none;
  }

  .jobDivider {
    width: 100%;
  }
}

@media only screen and (min-width: 1201px) {
  .firstHomepageSection {
    padding-top: 96px;
  }
}

.introCtaLink {
  cursor: pointer;
  text-underline-offset: 6px;
  text-decoration: underline;
}


.homepageTitle {
  // @include paddingBottom()
}

.firstHomepageSection {
  display: flex;
  justify-content: center;
}

.homepageSection {
  display: flex;
  justify-content: center;
  padding-top: 96px;
}

.heroImage {
  width: 100%;
}

.downArrow {
  float: right;
  margin-top: -110px;
}

.homepageSectionContent {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 20px;
}

.contentAlignBottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

// Padding bottom

.bottomPaddingOne {
  @include paddingBottom(3)
}

.bottomPaddingTwo {
  @include paddingBottom(6)
}

.bottomPaddingFour {
  @include paddingBottom(16)
}

// Background colors

.homepageSectionGreen {
  background-color: $secondary-green;
  border: 1px solid;
}

.homepageSectionYellow {
  background-color: $secondary-yellow;
}

.homepageSectionDarkGrey {
  background-color: $secondary-grey;
}

.partnerLogosContainer {
  display: flex;
  flex-wrap: wrap;
}

.columnTitle {
  margin: 24px 0;
}

.whatWeDoSmallText {
  padding-top: 165px;
}

.partnerLogo {
  margin-right: 100px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.twoColumn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 80px;
  column-gap: 4em;
}

.threeColumn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 80px;
  column-gap: 2.5em;
}
