@import '../../styles/base.scss';

.mainLogo {
  max-width: 100%;
  height: auto;
}

.homepageContent {
  background-color: $primary-grey;
}


@media only screen and (max-width: 1200px) {
  .introLargeText {
    order: -1;
  }

  .homepageLargeText {
    font-size: 44px;
  }
}


.homepageTitle {
  // @include paddingBottom()
}

.homepageSection {
  display: flex;
  justify-content: center;
  padding-top: 96px;
}

.heroImage {
  width: 100%;;
}

.downArrow {
  float: right;
  margin-top: -110px;
}

.homepageSectionContent {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 64px;
}

.contentAlignBottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

// Padding bottom

.bottomPaddingOne {
  @include paddingBottom(3)
}

.bottomPaddingTwo {
  @include paddingBottom(6)
}

.bottomPaddingFour {
  @include paddingBottom(16)
}

// Background colors

.homepageSectionGreen {
  background-color: $secondary-green;
}

.homepageSectionYellow {
  background-color: $secondary-yellow;
}

.homepageSectionDarkGrey {
  background-color: $secondary-grey;
}

.partnerLogosContainer {
  display: flex;
  flex-wrap: wrap;
}

.columnTitle {
  margin: 24px 0;
}

.whatWeDoSmallText {
  padding-top: 165px;
}

.partnerLogo {
  margin-right: 100px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.twoColumn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 80px;
  column-gap: 4em;
}

.threeColumn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 80px;
  column-gap: 2.5em;
}
