@import '../../styles/base.scss';

.homepageContent {
  background-color: $primary-grey;
}

.homepageTitle {
  // @include paddingBottom()
}

.homepageSection {
  display: flex;
  justify-content: center;
  padding-top: 96px;
}

.heroImage {
  width: 100%;;
}

.homepageSectionContent {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 64px;
}

.contentAlignBottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

// Padding bottom

.bottomPaddingOne {
  @include paddingBottom(2)
}

.bottomPaddingTwo {
  @include paddingBottom(6)
}

.bottomPaddingFour {
  @include paddingBottom(16)
}

// Background colors

.homepageSectionGreen {
  background-color: $secondary-green;
}

.homepageSectionYellow {
  background-color: $secondary-yellow;
}

.homepageSectionDarkGrey {
  background-color: $secondary-grey;
}

.partnerLogosContainer {
  display: flex;
  flex-wrap: wrap;
}

.columnTitle {
  margin: 24px 0;
}

.whatWeDoSmallText {
  padding-top: 165px;
}

.partnerLogo {
  margin-right: 100px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Layout

.twoColumn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 80px;
  column-gap: 3em;
}

.threeColumn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-bottom: 80px;
  column-gap: 2.5em;
}
