@import 'reset.scss';

$max-content-width: 1440px;

// breakpoints


// colors

$primary-grey: #D3DAE9;
$secondary-grey: #B7C2DA;
$primary-green: #012C12;
$secondary-green: #66DE66;
$secondary-yellow: #E5FD52;
