@import 'reset.scss';

$max-content-width: 1440px;

// breakpoints

// base text styling

h1 {
  font-family: 'UntitledSerif', Arial, sans-serif;
  font-size: 134px;
}

h2 {
  font-family: 'UntitledSerif', Arial, sans-serif;
  font-size: 72px;
}

h3 {
  font-family: 'UntitledSans', Times, serif;
  font-size: 32px;
}

h4 {
  font-family: 'UntitledSans', Times, serif;
  font-size: 28px;
}

h5 {
  font-family: 'SpaceMono', Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

p {
  font-family: 'UntitledSerif', Arial, sans-serif;
  font-size: 24px;
}

img {
  width: 100%;
}

// colors

$primary-grey: #D3DAE9;
$secondary-grey: #B7C2DA;
$primary-green: #012C12;
$secondary-green: #66DE66;
$secondary-yellow: #E5FD52;
